<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Keep CSS link unchanged -->
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="form-type">
                <h2>LOGIN</h2>
            </div>
            <div class="form">
                <form action="/login" method="post" class="loginform" id="login">
                    <input type="text" name="username" placeholder="Enter Username" class="input-text" required>
                    <input type="password" name="password" placeholder="Enter Password" class="input-text" required>
                    <input type="submit" id="submit" value="Login" class="input-button">
                    <h3 style="color:#AAB8C2 ;">Don't have an account? Click here to <a href="/register">register</a></h3>
                </form>
            </div>

          
        </div>
    </div>
</body>
</html>
